.catagory {
  height: 350px;

  width: 250px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.catagory img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0px 10px;
}
.catagory a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.catagory h2,
.catagory p {
  padding: 5px;
  margin-left: 15px;
}
.catagory p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}

.category_container {
  position: relative;
  margin-top: -10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 3000px;
  gap: 50px;
  margin-right: auto;
  margin-left: auto;
  place-items: center;
}
